{
  "extends": [
    "airbnb", //
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/state-in-constructor": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
